# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Environment
.env
*.env
.env.k8s
.env.bak

# Data output
data/

# Logs
logs/

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
# Local Data & Infra
minio_data/
.gemini/
postgres_data/
ivy_cache/
checkpoint_data/
test_data/
.sparkStaging/
metastore_db/
derby.log

